.donation-card {
  // & :hover {
  //   cursor: pointer;
  // }
}

.donation-card-img-container {
  overflow: hidden;
  max-height: 600px;
}

.donation-card-img {
  min-height: 300px;
}

.donation-card-content-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
