.donation-card {
  min-height: 50px;
  & :hover {
    cursor: pointer;
  }
}

.donation-card-img-container {
  overflow: hidden;
  max-height: 200px;
}

.donation-card-text-container {
  display: grid;
  grid-template-rows: 1fr auto;
}
