.about-us-contentainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0px 20px 0px 20px;
  min-height: 70vh;
  gap: 3rem;

  @media (max-width: 450px) {
    grid-template-columns: initial;
    grid-template-rows: 1fr 1fr;
  }
}

.about-us-card-container {
  min-width: 350px;
  padding: 0px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-us-card-title {
  color: #009250;
}

.about-us-card {
  max-height: 250px;
  padding: 10px 0px 10px 0px;
}

.about-us-img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-us-img {
  width: 100%;
  max-width: 700px;
  background-size: cover;
  width: 25rem;
  height: 18rem;
  object-fit: cover;
}

.about-michel-articles {
  margin-top: 1rem;
}