.header-title-container {
  margin-right: 20px;
}

.header-title {
  color: #009250;
}

.header-dropdown-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-dropdown-menu {
  color: #495057;
  margin: 5px;
}

div.dropdown-menu.show {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.header-button {
  display: flex;
  flex-direction: column;
  justify-content: center;

  #basic-nav-dropdown {
    color: white;

    &:hover {
      color: green;
    }
  }
}

#basic-navbar-nav > div > button > div {
  margin: 0 auto;
}
