.header-title {
  color: #009250;
}

.header-articles-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-articles{
    color: #495057;
    margin: 5px;
}

div.dropdown-menu.show {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
