.about-us-contentainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0px 20px 0px 20px;
  min-height: 70vh;

  @media (max-width: 450px) {
    grid-template-columns: initial;
    grid-template-rows: 1fr 1fr;
  }
}

.about-us-card-container {
  min-width: 350px;
  padding: 0px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-us-card-title{
    color: #009250;
}

.about-us-card {
  max-height: 250px;
  padding: 20px;
}

.about-us-img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-us-img {
  width: 100%;
  max-width: 700px;
  background-size: cover;
}
