.footer {
  // background: #d9ac99;
  background: #009250;
}

.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.viewport-container {
  display: grid;
  grid-template-columns: 1fr auto;
}

.footer__content {
  color: gainsboro;
  padding: 3rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  gap: 3rem;
}

.footer__content .first-column ul li a {
  text-decoration: none;
  display: flex;
  align-items: baseline;
}

.footer__content ul li a {
  text-decoration: none;
}

.footer__content h2 {
  color: white;
  font-size: 0.875rem;
  font-weight: 800;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.footer-logo-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.footer__disclaimer {
  // background: #a67908;
  background: #004928;
  color: var(--color-blue-200);
  padding: 1rem 0;
}

.footer__disclaimer p {
  margin: 0;
  color: gainsboro;
}

@media screen and (max-width: 40rem) {
  .footer__disclaimer p {
    padding-top: 0.5rem;
  }

  .viewport-container {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 820px) {
  .footer__disclaimer p {
    display: inline-block;
  }
  .footer__disclaimer p + p {
    margin-left: 2rem;
  }
}
