#container {
  margin: 1rem;
}

.items {
  margin-bottom: 1rem;
  display: flex;
  gap: 10px;
}

.article-card-container {
  @media (max-width: 450px) {
    display: flex;
    justify-content: center;
  }
}

.article-card {
  max-height: 250px;
  min-height: 250px;
  overflow: hidden;
}

.pagenate-container{
  @media (max-width: 450px) {
    display: flex;
    justify-content: center;
  }

}
