.main-visual-container {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  background: linear-gradient(
      180deg,
      rgba(199, 199, 195, 0.863),
      rgb(220, 241, 231, 0)
    ),
    url("https://i.ibb.co/q0fXytT/pansernature-2.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  max-height: 600px;

  .main-visual-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;

    p {
      font-size: 30px;
    }
    h2 {
      font-size: 45px;
      text-shadow: 0 0 20px orange;
    }
  }
}
