.main-visual-container {
  background: 
  // linear-gradient(
    //   360deg,
    //   #00925072,
    //   rgb(220, 241, 231, 0)
    // ),
    url("https://i.ibb.co/n7zSTpZ/Panser-Nature-2.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  max-height: 600px;
}
