.news-container {
  max-height: 300px;
  min-height: 300px;
}
.news-img-container {
  max-height: 200px;
  overflow: hidden;
}

.news-img {
  background-size: cover;
}

.fb-link {
  text-decoration: none;
}
